<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<style>
    .message {
        padding: 10px;
        margin: 5px;
        background-color: lightgrey;
    }

    .message-content {
        padding: 5px;
        background-color: whitesmoke;
    }
</style>

    <h1 th:text="'Messages: ' + ${messages.size()}"></h1>

    <div th:each="message: ${messages}" class="message">
        <div th:text="'Author: ' + ${message.author}"></div>

        <div class="message-content" th:text="${message.content}"></div>

        <div>
            <form action="/app/forum/delete" method="POST">
                <input type="hidden" th:value="${message.id}" name="id">
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>

    <form action="/app/forum" method="POST">
        <div>
            <label for="author">Author</label>
            <input type="text" name="author" id="author">
        </div>

        <div>
            <label for="content">Content</label>
            <textarea name="content" id="content" cols="30" rows="10"></textarea>
        </div>

        <div>
            <button type="submit">Post message</button>
        </div>
    </form>
</body>
</html>